
body {
    background-color: #06153a;
  }
  
  
  .homepage-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
  }

  .homepage-container h1 {
    font-size: 48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #e1eaf4;
    margin-bottom: 50px;
  }
  

  .homepage-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -20px;
  }
  

  .homepage-item {
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  
  .homepage-item:hover {
    transform: translateY(-10px);
  }
  
  
  .homepage-item img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
 
  .homepage-item h2 {
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #2c3e50;
    margin-bottom: 20px;
  }
  